<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">

                <div class="text-center mb-4">
                    <h2 class="fw-semibold text-primary">
                        <i class="bi bi-box-seam me-2"></i>Editar Producto
                    </h2>
                </div>

                <div class="card border-0 shadow-sm rounded-3">
                    <div class="card-body p-4">
                        <form th:action="@{/productos/actualizar}" th:object="${producto}" method="post">
                            <div class="mb-3">
                                <input type="hidden" th:field="*{id}" id="id" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label for="codigo">Código:</label>
                                <input type="text" th:field="*{codigo}" id="codigo" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label for="nombre">Nombre:</label>
                                <input type="text" th:field="*{nombre}" id="nombre" placeholder="Ingrese un nombre" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label for="descripcion">Descripción:</label>
                                <input type="text" th:field="*{descripcion}" id="descripcion" placeholder="Ingrese una descripcion" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label for="precio">Precio:</label>
                                <input type="number" th:field="*{precio}" step="0.01" id="precio" placeholder="Ingrese un precio" class="form-control"/>
                            </div>

                            <div class="mb-4">
                                <label for="stock">Stock:</label>
                                <input type="number" th:field="*{stock}" id="stock" placeholder="Ingrese un stock" class="form-control"/>
                            </div>

                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i>Actualizar</button>
                                <a href="/productos" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>

